# PAIR PROGRAMMING
## EJERCICIO 4. PANDAS IV

In [1]:
import pandas as pd
import os

1. Cargad el csv que guardasteis ayer.

In [2]:
os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/CLASES/modulo2/pair-programming/promo-d-da-modulo2-sprint1-lorena-ana'

In [3]:
#abris el excel:
df_excel = pd.read_excel('datos/2016_pandasIII.xlsx')

In [5]:
df_excel.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [11]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        13050 non-null  object
 1   fecha            13025 non-null  datetime64[ns]
 2   id_empleado      13049 non-null  float64
 3   id_agente        13050 non-null  float64
 4   categoría        13038 non-null  object
 5   tipo             13050 non-null  object
 6   severidad        13025 non-null  object
 7   prioridad        13025 non-null  object
 8   días_resolución  13049 non-null  float64
 9   satisfacción     13037 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 1019.7+ KB

In [13]:
shape_original = df_excel.shape

(13051, 10)

In [16]:
df_excel.columns

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción'],
      dtype='object')



Antes de seguir con las preguntas, para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame, esto lo haremos sobre el archivo de 2016.xlsx. Para ello vamos a utilizar el método .dropna() de Pandas. Tendréis que ejecutar la siguiente línea de código para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

df.dropna(inplace = True)

In [17]:
#eliminamos los nulos con el comando dropna()
df_excel.dropna(inplace = True)

In [18]:
df_excel.shape

(12939, 10)

¿Cuántas filas se han eliminado con esta línea de código?

In [ ]:
#Anteriormente en shape_original teníamos 13051 filas. 
#Observamos que tras eliminar los nulos hay 12939 filas.

In [19]:
df_excel.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

2. ¿Cuál es el número de incidencias que se han dado de tipo "Sistema", lo encontraréis en la columna de categoría?

In [24]:
df_excel.categoría.unique()

array(['Acceso&%Login', 'Sistema', 'Software', 'Hardware'], dtype=object)

In [25]:
df_sistema = df_excel[df_excel["categoría"] == "Sistema"]

In [29]:
#para obtener el número de incidencias de tipo "Sistema", realizamos el método len de nuestro dataframe
len(df_sistema)

5211

3. ¿Y para la categorías de "Hardware" y "Software"? Cread un dataframe nuevo con los resultados de este filtrado de datos. 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [30]:
df_hardsoft = df_excel[(df_excel["categoría"] == "Hardware") & (df_excel["categoría"] == "Software")]

In [31]:
df_hardsoft.head()

Empty DataFrame
Columns: [id_ticket, fecha, id_empleado, id_agente, categoría, tipo, severidad, prioridad, días_resolución, satisfacción]
Index: []

In [33]:
valores = ["Hardware", "Software"]
df2_hardsoft = df_excel[df_excel["categoría"].isin(valores)]

In [36]:
df2_hardsoft.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
5,GDLEER-0142608095,2016-08-26,59.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,1.0
6,GDLEER-0242564650,2016-07-13,1175.0,36.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,1.0
7,GDLEER-0542574815,2016-07-23,561.0,18.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0
8,GDLEER-0842457219,2016-03-28,71.0,12.0,Software,Problema,2 - Normal,0 - Sin Asignar,8.0,5.0

3.1 De los datos filtrados en el punto 3. ¿Cuántas de ellas son de tipo "Solicitud" y cuántas de tipo "Problema"?

3.2 ¿Cuántas solicitudes tienen una satisfacción de más de 3?

3.3 ¿Y cuántas tienen una satisfacción mayor o igual que 4 y han tardado menos de 3 días de resolución?

In [43]:
df_solicitud = df2_hardsoft[df2_hardsoft["tipo"] == "Solicitud"]
df_problema = df2_hardsoft[df2_hardsoft["tipo"] == "Problema"]

In [47]:
df_solicitud.head(2)
len(df_solicitud)
#Observamos que el número de solicitudes coincide con df_tipo(total). Por ello, asumimos que "Solicitud" es un valor general y "Problema" es una especificación dentro de la solicitud.

2876

In [48]:
df_problema.head(2)
len(df_problema)

970

In [41]:
#esta longitud pertenecería a un dataframe con ambas condiciones juntas.Sería el total de las filas pertenecientes a la columna "tipo"
len(df_tipo)

2876

4. Ahora nuestro jefe quiere saber que cantidad de tickets ha habido en la segunda quincena de Enero. Cread un DataFrame nuevo con los tickets correspondientes a la segunda quincena de Enero.
   
   4.1 ¿Ha habido algun ticket en esta quincena que corresponda a la categoría de Solicitud?

   4.2 Revisando los datos, nuestro jefe se ha dado cuenta que hay muchos tickets no tienen ninguna prioridad asignada. Esto no debería seguir repitiéndose ya que cada ticket debe tener una prioridad para saber que urgencia debemos darle a cada ticket. Usando el str.contains extraed los tickets que no tengan una prioridad asignada o que tengan una prioridad baja.

In [49]:
df_excel.head()
#filtrar por fecha, del 15.01 en adelante

df_quincena2 = df_excel[df_excel["fecha"] > "2016-01-15"]

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

5. Nuestro jefe quiere seguir buscando patrones y quiere saber si existe una relación entre el número de días que tarde en cerrarse un ticket y la satisfacción de los clientes. Para eso nos pide que:

    5.1 Extraigamos los tickets en lo que pasaron 5 o más días en ser solucionados.

    5.2 Extraigamos los tickets en los que pasaron menos de 5 días en ser solucionados.

    5.3 Usando como referencia los dos conjuntos de datos creados en los dos pasos anteriores:
    
  - Qué valores tenemos de satisfacción en cada uno de ellos?
  - ¿En cuál de ellos hay más puntuaciones de 5 en relación a la satisfacción?

6. Revisando los dataframes generados en el ejercicio anterior, nos hemos dado cuenta que hay una serie de empleados que tardan demasiado en resolver los problemas planteados por los clientes. Nuestro jefe quiere extraer los datos de estos empleados en concreto para saber que esta pasando. En concreto estos empleados son aquellos que tienen los siguientes id's: 1118.0, 730.0, 97.0, 1745.0. Crea un dataframe donde solo tengamos la información de estos empleados. Usad el método isin(), para resolver este ejercicio.

7. Utilizando la columna de fecha cread una nueva columna llamada semestre que contenga 1er semestre o 2º semestre. Aquellos tickets que pertenezcan a los seis primeros meses tendran el valor de "1er trismestre" y los tickets de julio en adelante tendrán el valor de "2º semestre".

8. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.