## PAIR PROGRAMMING - ESTADÍSTICA 1

In [ ]:
import pandas as pd
import numpy as np

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica. En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming

Objetivos

1. Buscar un conjunto de datos a analizar:
Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [9]:
#Hemos decidido trabajar con un dataset sobre vino

df_exam = pd.read_csv('exams.csv')

df_exam.head()

#Comprobamos que el dataframe tenga variables numéricas y categóricas como se recomienda en el enunciado

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [10]:
df_exam.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [11]:
df_exam.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

2.
Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:

Media

Desviación con respecto de la media

Varianza

Desviación típica

Moda

Mediana

Media ponderada

Robustez

Coeficiente de variación

In [12]:
#media lectura

df_exam['reading score'].mean()

70.382

In [13]:
#media matemáticas 

df_exam['math score'].mean()

67.81

In [14]:
#media redacción

df_exam['writing score'].mean()

69.14

In [20]:
#Desviación con respecto de la media

media = df_exam['reading score'].mean() 

diferencia = df_exam['reading score']  - media

desviacion_media = np.abs(diferencia)

print(f'Esto es la desviación media: {desviacion_media}')

Esto es la desviación media: 0       0.382
1      22.618
2       5.618
3       0.382
4      14.618
        ...
995     6.618
996     4.382
997    15.618
998     1.618
999    23.382
Name: reading score, Length: 1000, dtype: float64

In [ ]:
#Desviación con respecto de la media

media1 = df_exam['writing score'].mean() 

diferencia1 = df_exam['writing score']  - media1

desviacion_media1 = np.abs(diferencia1)

print(f'Esto es la desviación media: {desviacion_media1}')

In [ ]:
#Desviación con respecto de la media

media2 = df_exam['writing score'].mean() 

diferencia2 = df_exam['writing score']  - media2

desviacion_media2 = np.abs(diferencia2)

print(f'Esto es la desviación media: {desviacion_media2}')

In [21]:
#Varianza

df_exam['reading score'].var()

199.01909509509485

In [ ]:
#Varianza
df_exam['writing score'].var()

In [ ]:
#Varianza
df_exam['math score'].var()

In [23]:
#Desviación típica
df_exam['reading score'].std()

14.10741277113188

In [ ]:
#Desviación típica
df_exam['writing score'].std()

In [ ]:
#Desviación típica
df_exam['math score'].std()

In [24]:
#moda
df_exam['reading score'].mode()

0    72
dtype: int64

In [ ]:
#moda
df_exam['writing score'].mode()

In [ ]:
#moda
df_exam['math score'].mode()

In [25]:
#mediana
df_exam['reading score'].median()

70.5

In [ ]:
#mediana
df_exam['writing score'].median()

In [ ]:
#mediana
df_exam['math score'].median()

In [26]:
df_exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [27]:
df_exam['parental level of education'].unique()

array(['some college', "associate's degree", 'some high school',
       "bachelor's degree", "master's degree", 'high school'],
      dtype=object)

In [ ]:
#media ponderada
#queremos asignar pesos a la columna de parental level of education, que tiene seis valores únicos

w = [7, 4, 9, 6, 2, 8]

array_pesos = np.arange(w)

avg = np.average(df_exam['reading score'], weights = w)

print(avg)

In [ ]:
#media ponderada
w = [7, 4, 9, 6, 2, 8]

array_pesos = np.arange(w)

avg1 = np.average(df_exam['writing score'], weights = w)

print(avg1)

In [ ]:
#media ponderada
w = [7, 4, 9, 6, 2, 8]

array_pesos = np.arange(w)

avg2 = np.average(df_exam['math score'], weights = w)

print(avg2)

3. Interpretación de los resultados.

Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.