# PANDAS 3 PAIR PROGRAMMING

In [6]:
import pandas as pd

import os

os.getcwd()

'/Users/peris/Desktop/adalab/ejercicios-de-adalab/modulo 2/pandas/pandas3'


Tareas a realizar en este pair programming


- La exploración de datos es una parte crítica del proceso de análisis de datos. 
    Para los analistas de datos, hacer una exploración de datos con Pandas es importante por varias razones:

- Comprender los datos: antes de comenzar a analizar datos, es importante comprender los datos con los que se está trabajando.

- Identificar problemas de calidad de datos: los datos pueden contener errores, valores faltantes o datos duplicados. Al utilizar Pandas, como analistas de datos podemos identificar rápidamente estos problemas y determinar la mejor manera de abordarlos antes de comenzar a analizar los datos.

- Identificar patrones y tendencias: al explorar los datos con Pandas, los analistas de datos podemos identificar patrones y tendencias en los datos que pueden ayudar a generar ideas y obtener información valiosa.


En resumen, hacer una exploración de datos con Pandas es esencial para cualquier analista de datos, ya que puede ayudar a comprender los datos, identificar problemas de calidad de datos, identificar patrones y tendencias y visualizar los datos para una mejor comprensión y presentación de los resultados del análisis. En los próximos pair programmings vamos a empezar a explorar los datos para identificar posibles problemas en los datos, comprender los datos y familiarizanos con ellos.


1. Cargar todos los datasets que os hemos compartido en este pair programming

In [9]:

df_csv1 = pd.read_csv('Agentes.csv')
df_csv =  pd.read_csv('Empleados.csv')
df_xlsx = pd.read_excel('2016.xlsx')

2. Haced una exploración básica cada uno de los DataFrames, esta exploración debe incluir:

¿Cuántas filas y columnas tiene el DataFrame?

In [13]:
df_csv1.shape

df_csv.shape

df_xlsx.shape

(13051, 12)


Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [14]:

df_csv1.head(5)

df_csv.head(5)

df_xlsx.head(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [15]:
df_csv1.tail(5)

df_csv.tail(5)

df_xlsx.tail(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0


Mostrad 2 filas al azar del DataFrame.

In [16]:

df_csv1.sample(2)

df_csv.sample(2)

df_xlsx.sample(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
7778,KWRENR-6042467951,2016-04-07,865.0,39.0,Acceso&%Login,Problema,1 - Menor,1 - Baja,0.0,3.0,www.tractchun.es,1.0
5138,KHLENR-1042461551,2016-04-01,1875.0,35.0,Acceso&%Login,Problema,2 - Normal,3 - Alta,3.0,2.0,www.tractchun.es,1.0


¿Cuál es el nombre de las columnas del DataFrame?

In [17]:

df_csv1.columns

df_csv.columns

df_xlsx.columns

Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')


¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.

In [18]:

# valores numéricos


df_csv1.describe()

df_csv.describe()

df_xlsx.describe()

        ID Empleado     ID Agente  Días Resolución  Satisfacción  Índice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0

In [20]:

# valores categóricos
df_csv1.describe(include = 'object')

df_csv.describe(include = 'object')

df_xlsx.describe(include = 'object')

,ID Ticket,Categoría,Tipo,Severidad,Prioridad,Web
count,13050,13038,13050,13025,13025,13024
unique,13050,4,2,5,4,1
top,GDDENR-5042564453,Sistema,Solicitud,2 - Normal,3 - Alta,www.tractchun.es
freq,1,5247,9756,11771,4828,13024


¿Cuál es el porcentaje de valores nulos en cada columna?

In [25]:

df_csv1.isnull().sum() /100

df_csv.isnull().sum() /100

df_xlsx.isnull().sum() /100

ID Ticket          0.01
Fecha              0.26
ID Empleado        0.02
ID Agente          0.01
Categoría          0.13
Tipo               0.01
Severidad          0.26
Prioridad          0.26
Días Resolución    0.02
Satisfacción       0.14
Web                0.27
Índice             0.13
dtype: float64

¿Cuántos valores únicos tenemos para cada una de las columnas?

In [32]:

columnas_csv1 = df_csv1.columns


conteo_unique_csv1 = {col: df_csv1[col].unique() for col in columnas_csv1}

print(conteo_unique_csv1)


#df_csv.describe(include = 'object')

#df_xlsx.describe(include = 'object')

{'ID Agente': 1     1
38    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
39    1
2     1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
27    1
26    1
25    1
24    1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
50    1
Name: ID Agente, dtype: int64, 'Nombre': Mata Lucero             1
Enrique Montiel         1
Nurio Zepeda            1
Segura Garcia           1
Parra Luna              1
Guadalupe Torrico       1
Silvia Morales          1
Guadalupe Villanueva    1
Diana Rojo              1
Melinda                 1
Luis Torres             1
Jesus Pacheco           1
Jesus Contreras         1
JesusGrajeda            1
Alfredo Barreras        1
Aldo Carrillo           1
Darwin E.               1
Reyna Santacruz         1
Eva Cardenas            1
Luis Arguello           1
Rosa Olguin             1
Yomaira Agudelo         1
Aurelio Tanori          1
Armando Sierra          1
Isela Leyva             1
Flores Sierra           1
Sandra Lujan            1
Barbara Grijalva        1
Elena Velez             1
Barraza Alberto         1
Willyberto Gonzales     1
A. Trejo                1
Estuardo Ocaño          1
Marisol Piedrahita      1
Velasquez Jose          1
Alberto Casillas        1
Lopez Moran.            1
Javier D.               1
Griselda Galindo        1
EstuardoTorres          1
Galindo Guadalupe       1
Orci Carlos             1
Leon Lourdes            1
Miller Gaviria          1
Alfonso Barraza         1
Eduardo Luna            1
Alberto Gastelum        1
Lorena                  1
Guadalupe Hernandez     1
Ramon Macias            1
Name: Nombre, dtype: int64, 'email': lucero.mata@tractchun.com             1
enrique.montiel@tractchun.com         1
nurio.zepeda@tractchun.com            1
segura.garcia@tractchun.com           1
parra.luna@tractchun.com              1
guadalupe.torrico@tractchun.com       1
silvia.morales@tractchun.com          1
guadalupe.villanueva@tractchun.com    1
diana.rojo@tractchun.com              1
melinda.barcelo@tractchun.com         1
luis.torres@tractchun.com             1
jesus.pacheco@tractchun.com           1
jesus.contreras@tractchun.com         1
jesus.grajeda@tractchun.com           1
alfredo.barreras@tractchun.com        1
aldo.carrillo@tractchun.com           1
darwin.echeverry@tractchun.com        1
reyna.santacruz@tractchun.com         1
eva.cardenas@tractchun.com            1
luis.arguello@tractchun.com           1
rosa.olguin@tractchun.com             1
yomaira.agudelo@tractchun.com         1
aurelio.tanori@tractchun.com          1
armando.sierra@tractchun.com          1
isela.leyva@tractchun.com             1
flores.sierra@tractchun.com           1
sandra.lujan@tractchun.com            1
barbara.grijalva@tractchun.com        1
elena.velez@tractchun.com             1
alberto.barraza@tractchun.com         1
willyberto.gonzales@tractchun.com     1
alberto.trejo@tractchun.com           1
estuardo.ocaño@tractchun.com          1
marisol.piedrahita@tractchun.com      1
jose.velasquez@tractchun.com          1
alberto.casillas@tractchun.com        1
lopez.moran@tractchun.com             1
javier.davila@tractchun.com           1
griselda.galindo@tractchun.com        1
estuardo.torres@tractchun.com         1
guadalupe.galindo@tractchun.com       1
carlos.orci@tractchun.com             1
lourdes.leon@tractchun.com            1
miller.gaviria@tractchun.com          1
alfonso.barraza@tractchun.com         1
eduardo.luna@tractchun.com            1
alberto.gastelum@tractchun.com        1
lorena.leon@tractchun.com             1
guadalupe.hernandez@tractchun.com     1
ramon.macias@tractchun.com            1
Name: email, dtype: int64, 'Fecha de Nacimiento': 1989/4/28     1
1985/2/27     1
1982/4/4      1
1972/11/14    1
1995/6/17     1
1993/3/18     1
1980/6/16     1
1975/1/15     1
1996/3/9      1
1996/5/30     1
1982/7/18     1
1980/6/15     1
1983/10/20    1
1979/1/1      1
1974/10/19    1
1982/8/1      1
1991/7/16     1
1984/6/7      1
1987/10/4     1
1982/9/22     1
1985/5/30     1
1974/12/15    1
1979/8/29     1
1991/4/5      1
1987/4/18     1
1982/3/15     1
1988/11/17    1
1972/6/5      1
1993/6/6      1
1978/10/20    1
1973/5/11     1
1988/3/9      1
1980/9/23     1
1993/10/28    1
1981/1/9      1
1993/2/1      1
1980/4/21     1
1976/5/22     1
1996/2/3      1
1995/12/21    1
1995/6/16     1
1982/10/26    1
1971/12/28    1
1980/10/9     1
1990/5/13     1
1983/11/22    1
1996/10/10    1
1996/7/16     1
1986/6/12     1
1980/3/4      1
Name: Fecha de Nacimiento, dtype: int64}

In [40]:

df_csv.head()

len(df_csv['Nombre'].unique())

565

In [41]:


columnas_csv = df_csv.columns


conteo_unique_csv = {col: len(df_csv[col].unique()) for col in columnas_csv}

print(conteo_unique_csv)

{'Turno': 5, 'ID Empleado': 2000, 'Apellido': 376, 'Nombre': 565, 'ID Puesto': 75, 'Email': 2000}

In [35]:

columnas_xlsx = df_xlsx.columns


conteo_unique_xlsx = {col: df_xlsx[col].value_counts() for col in columnas_xlsx}

print(conteo_unique_xlsx)

{'ID Ticket': GDDENR-5042564453    1
SHLENR-7042481294    1
SHLENR-5042538526    1
SHLENR-5042651427    1
SHLENR-5142642780    1
                    ..
KDLTNR-2042409051    1
KDLTNR-2042438063    1
KDLTNR-2042468443    1
KDLTNR-2042487449    1
TWRTSR-8742628897    1
Name: ID Ticket, Length: 13050, dtype: int64, 'Fecha': 2016-02-20    53
2016-11-05    52
2016-09-26    52
2016-05-07    50
2016-05-15    49
              ..
2016-07-09    23
2016-03-04    22
2016-04-14    21
2016-07-08    18
2016-11-17    17
Name: Fecha, Length: 366, dtype: int64, 'ID Empleado': 97.0      18
1961.0    17
109.0     15
437.0     15
1794.0    14
          ..
736.0      1
933.0      1
1686.0     1
1562.0     1
1367.0     1
Name: ID Empleado, Length: 1999, dtype: int64, 'ID Agente': 41.0    302
26.0    292
19.0    289
32.0    289
24.0    279
3.0     277
15.0    276
34.0    275
27.0    275
35.0    273
12.0    273
8.0     273
28.0    272
48.0    272
25.0    272
4.0     272
43.0    271
14.0    270
42.0    269
46.0    268
5.0     268
7.0     268
6.0     267
39.0    266
38.0    266
50.0    265
31.0    262
33.0    261
30.0    261
1.0     261
22.0    259
29.0    259
10.0    258
16.0    256
18.0    255
2.0     253
40.0    253
11.0    251
20.0    247
37.0    244
36.0    241
21.0    241
23.0    239
44.0    239
17.0    237
45.0    236
47.0    227
9.0     227
13.0    224
49.0    220
Name: ID Agente, dtype: int64, 'Categoría': Sistema          5247
Acceso&%Login    3907
Software         2613
Hardware         1271
Name: Categoría, dtype: int64, 'Tipo': Solicitud    9756
Problema     3294
Name: Tipo, dtype: int64, 'Severidad': 2 - Normal            11771
3 - Mayor               683
1 - Menor               342
4 - Crítico             189
0 - Sin Clasificar       40
Name: Severidad, dtype: int64, 'Prioridad': 3 - Alta           4828
0 - Sin Asignar    3866
1 - Baja           2192
2 - Media          2139
Name: Prioridad, dtype: int64, 'Días Resolución': 0.0     3336
1.0     1229
5.0     1184
6.0     1068
2.0      889
7.0      871
3.0      830
4.0      662
8.0      637
10.0     522
9.0      491
11.0     242
13.0     217
12.0     217
14.0     213
15.0     183
16.0     154
17.0      76
19.0      15
18.0      12
21.0       1
Name: Días Resolución, dtype: int64, 'Satisfacción': 5.0    6247
4.0    3767
1.0    1606
3.0    1140
2.0     277
Name: Satisfacción, dtype: int64, 'Web': www.tractchun.es    13024
Name: Web, dtype: int64, 'Índice ': 1.0    13038
Name: Índice , dtype: int64}

De aquellas columnas que tengan menos de 6 elementos únicos mostrad cada uno de sus valores únicos.

In [37]:

columnas_csv = df_csv.columns

conteo_unique_csv = {col: df_csv[col].value_counts() for col in columnas_csv} 

conteo_unique_csv 

for i in conteo_unique_csv:
    print(i)

#df['columna'].unique()

#print(conteo_unique_csv)

Turno
ID Empleado
Apellido
Nombre
ID Puesto
Email

📌 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena práctica sería crearnos una función que apliquemos a cada conjunto de datos. Nuestra función recibirá un parámetro, que será el dataframe entero

📌 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el código, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. ¿Hay datos raros en nuestros conjuntos de datos? ¿Tenemos nulos?, etc.

3. Modificaciones básicas de los conjuntos de datos:

Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

Para las columnas de web e índice en el archovo de 2016.xlsx ya hemos visto que tiene un único valor único, lo cual no tiene mucho sentido ya que no nos aporta información útil. En este ejercicios tendréis que eliminar dichas columnas del dataframe.

Establece la columna id_ticket de la tabla de 2016.xlsx como índice del DataFrame.

4. Guarda los csv's sobre los que hayáis hecho cambios para usarlos en próximos pairs .