## PAIR PROGRAMMING - PANDAS 6

En los ejercicios de hoy pondremos en pr치ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m치s sencilla. Para ellos seguiremos trabajando con mismos csv que en el pair anterior, el de los empleados que unimos en el pair de uni칩n de datasets y el de los tickets de todos los a침os. Para ello, lo primero que tendremos que hacer es cargar estos dos csv.

Como hemos dicho hasta ahora, hemos estado explorando los datos, y puede que ya nos hayamos dado cuenta de que hay columnas de que est치n un poco "sucias". Hoy limpiaremos esas columnas para poder extraer conclusiones m치s eficaces.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df_historico = pd.read_csv('datos/historico_tickets.csv')
df_ep = pd.read_csv('datos/empleados_puestos.csv')

In [10]:
df_historico.dtypes

Unnamed: 0          int64
id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categor칤a          object
tipo               object
severidad          object
prioridad          object
d칤as_resoluci칩n     int64
satisfacci칩n        int64
semestre           object
a침o                 int64
dtype: object

In [12]:
df_historico_copia = df_historico.copy()

In [14]:
df_historico_copia.head(2)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016

In [15]:
df_ep_copia = df_ep.copy()
df_ep_copia.head(2)

,Unnamed: 0,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

1. Cread una columna nueva y una funci칩n que nos de el mes en el que se solicit칩 el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci칩n debemos tener en cuenta que puede que no haya la informaci칩n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN). (programaci칩n defensiva try/except)
   
   游늷 Nota La fecha tendr치 que ir formato de string como "Enero", "Febrero", etc.
   游눠 Pista 游눠Podr칠is usar regex, pero no es estrictamente necesario.

In [11]:
import datetime

In [27]:
# para trabajar con esta librer칤a lo primero que tenemos que hacer es convertir el tipo de la
# columna "fecha" a formato datetime. Para eso usaremos un apply

df_historico_copia["fecha"] = df_historico_copia["fecha"].apply(pd.to_datetime)
df_historico_copia.head(10)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o,mes
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016,July
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,May
2,2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,June
3,3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016,April
4,4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016,June
5,5,GDLEER-0142608095,2016-08-26,59,20,Software,Problema,2 - Normal,0 - Sin Asignar,1,1,2췈 semestre,2016,August
6,6,GDLEER-0242564650,2016-07-13,1175,36,Software,Problema,2 - Normal,0 - Sin Asignar,2,1,2췈 semestre,2016,July
7,7,GDLEER-0542574815,2016-07-23,561,18,Software,Problema,2 - Normal,0 - Sin Asignar,5,5,2췈 semestre,2016,July
8,8,GDLEER-0842457219,2016-03-28,71,12,Software,Problema,2 - Normal,0 - Sin Asignar,8,5,1 semestre,2016,March
9,9,GDLEER-1242542213,2016-06-21,1831,42,Software,Problema,2 - Normal,0 - Sin Asignar,2,5,1 semestre,2016,June

In [26]:
df_historico_copia["fecha"].isnull().sum()

0

In [21]:
#definimos la funci칩n para obtener el mes

def sacar_mes(x):
    try:
        if type(x) == ## c칩mo completar esa parte
            return x.strftime("%B") #como queremos obtener el nombre del mes completo, hemos utilizado %B, seg칰n la documentaci칩n de Datetime
    except:
        return np.nan

In [24]:
df_historico_copia["mes"] = df_historico_copia["fecha"].apply(sacar_mes)

In [25]:
df_historico_copia.head(2)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o,mes
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016,July
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,May

2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci칩n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.
   
   游늷 NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may칰sculas, por ejemplo "Jes칰s Villa".

   游늷 NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.

In [28]:
df_ep.head(2)

,Unnamed: 0,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

In [35]:
df_ep["Nombre completo"] = df_ep["Nombre"] + " " + df_ep["Apellido"]

In [50]:
df_ep["Nombre Completo"] = df_ep["Nombre completo"].apply(nombre_completo)

In [ ]:
#A continuaci칩n borramos con drop....

In [51]:
df_ep.head(2)

,Unnamed: 0,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto,Nombre completo,Nombre Completo
0,0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,JESUS VILLA,Jesus Villa
1,1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,PATRICIA DIAZ,Patricia Diaz

In [46]:
df_ep["Nombre completo"].isnull().sum()

22

In [36]:
df_ep.head(2)

,Unnamed: 0,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto,Nombre completo
0,0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,JESUS VILLA
1,1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,PATRICIA DIAZ

In [47]:
def nombre_completo(nombre):
    if type(nombre) != float:
        try:
            nombre1 = nombre.title()
            return nombre1 
        except:
            pass

In [ ]:
#Hemos visto que se puede hacer tambi칠n creando una funci칩n con dos par치metros.
#Esto significa que a la hora de pasar el apply, tendr칤amos que hacerlo con una lambda

In [42]:
def nombre_completo(nombre, apellido):
    nombre1 = nombre.title()
    apellido1 = apellido.title()
    return nombre1 + " " + apellido1 # si ponemos solo coma, nos sale una tupla con los elementos separados por coma

In [38]:
nombre = "ANNA"
apellido = "P칄REZ"

In [43]:
nombre_completo (nombre, apellido)

'Anna P칠rez'

3. En el pair programming desde a direcci칩n nos ped칤an que agruparamos los datos en base a la columna de "categor칤a", puede que en aquel momento nos dieramos cuenta que hab칤a var칤as categor칤as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten칤a unos s칤mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s칤mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci칩n.

In [52]:
df_historico_copia.head(1)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre,a침o,mes
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2췈 semestre,2016,July
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,May

In [53]:
df_historico_copia["categor칤a"].unique()

array(['Acceso&%Login', 'Sistema', 'Software', 'Hardware',
       'Acceso%&Login', 'Acceso-&Login', 'Acceso99Login', 'Acceso/Login'],
      dtype=object)

In [ ]:
# qu칠 necesitamos?
# eliminar s칤mbolos raros &, %, - y reemplazarlos por /
# quiz치 crear un patr칩n de regex???

4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

5. Guardad el dataframe en un csv que usaremos m치s adelante