## PAIR PROGRAMMING - PANDAS 6

En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla. Para ellos seguiremos trabajando con mismos csv que en el pair anterior, el de los empleados que unimos en el pair de uni√≥n de datasets y el de los tickets de todos los a√±os. Para ello, lo primero que tendremos que hacer es cargar estos dos csv.

Como hemos dicho hasta ahora, hemos estado explorando los datos, y puede que ya nos hayamos dado cuenta de que hay columnas de que est√°n un poco "sucias". Hoy limpiaremos esas columnas para poder extraer conclusiones m√°s eficaces.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [107]:
df_historico = pd.read_csv('datos/historico_tickets.csv', index_col = 0)
df_ep = pd.read_csv('datos/empleados_puestos.csv', index_col = 0)

In [4]:
df_historico.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categor√≠a          object
tipo               object
severidad          object
prioridad          object
d√≠as_resoluci√≥n     int64
satisfacci√≥n        int64
semestre           object
a√±o                 int64
dtype: object

In [108]:
df_historico_copia = df_historico.copy()

In [94]:
df_historico_copia.head(2)

,id_ticket,fecha,id_empleado,id_agente,categor√≠a,tipo,severidad,prioridad,d√≠as_resoluci√≥n,satisfacci√≥n,semestre,a√±o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2¬∫ semestre,2016
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016

In [7]:
df_ep_copia = df_ep.copy()
df_ep_copia.head(2)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

1. Cread una columna nueva y una funci√≥n que nos de el mes en el que se solicit√≥ el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci√≥n debemos tener en cuenta que puede que no haya la informaci√≥n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN). (programaci√≥n defensiva try/except)
   
   üìå Nota La fecha tendr√° que ir formato de string como "Enero", "Febrero", etc.
   üí° Pista üí°Podr√©is usar regex, pero no es estrictamente necesario.

In [8]:
import datetime

In [10]:
# para trabajar con esta librer√≠a lo primero que tenemos que hacer es convertir el tipo de la
# columna "fecha" a formato datetime. Para eso usaremos un apply

df_historico_copia["fecha"] = df_historico_copia["fecha"].apply(pd.to_datetime)
df_historico_copia.head(1)

,id_ticket,fecha,id_empleado,id_agente,categor√≠a,tipo,severidad,prioridad,d√≠as_resoluci√≥n,satisfacci√≥n,semestre,a√±o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2¬∫ semestre,2016

In [11]:
df_historico_copia["fecha"].isnull().sum()

0

In [19]:
#definimos la funci√≥n para obtener el mes

def sacar_mes(x):
    try:
        if x != np.nan:
            return x.strftime("%B") #como queremos obtener el nombre del mes completo, hemos utilizado %B, seg√∫n la documentaci√≥n de Datetime
    except:
        return np.nan

In [20]:
df_historico_copia["mes"] = df_historico_copia["fecha"].apply(sacar_mes)

In [95]:
df_historico_copia.head()

,id_ticket,fecha,id_empleado,id_agente,categor√≠a,tipo,severidad,prioridad,d√≠as_resoluci√≥n,satisfacci√≥n,semestre,a√±o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2¬∫ semestre,2016
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016

2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci√≥n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.
   
   üìå NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may√∫sculas, por ejemplo "Jes√∫s Villa".

   üìå NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.

In [23]:
df_ep.head(2)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

In [26]:
def nombre_completo(nombre):
    if type(nombre) != float:
        try:
            nombre1 = nombre.title()
            return nombre1 
        except:
            pass

In [31]:
df_ep["Nombre completo"].isnull().sum()

22

In [27]:
df_ep["Nombre completo"] = df_ep["Nombre"] + " " + df_ep["Apellido"]

In [28]:
df_ep["Nombre Completo"] = df_ep["Nombre completo"].apply(nombre_completo)

In [38]:
#A continuaci√≥n borramos con drop las columnas Apellido, Nombre y la primera prueba de Nombre completo

df_dropeado1 = df_ep.drop(['Apellido'], axis=1)

In [39]:
df_dropeado2 = df_dropeado1.drop(['Nombre'], axis=1)

In [40]:
df_dropeado_final = df_dropeado2.drop(["Nombre completo"], axis = 1)

In [41]:
df_dropeado_final.head()

,Turno,ID Empleado,ID Puesto,Email,Puesto,Departamento,Tipo Puesto,Nombre Completo
0,A,6.0,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Jesus Villa
1,NaN,60.0,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Patricia Diaz
2,B,2.0,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Antonio Duarte
3,NaN,24.0,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Jesus Villanueva
4,NaN,98.0,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Patricia Gallegos

In [ ]:
#Hemos visto que se puede hacer tambi√©n creando una funci√≥n con dos par√°metros.
#Esto significa que a la hora de pasar el apply, tendr√≠amos que hacerlo con una lambda

In [42]:
def nombre_completo(nombre, apellido):
    nombre1 = nombre.title()
    apellido1 = apellido.title()
    return nombre1 + " " + apellido1 # si ponemos solo coma, nos sale una tupla con los elementos separados por coma

In [38]:
nombre = "ANNA"
apellido = "P√âREZ"

In [43]:
nombre_completo (nombre, apellido)

'Anna P√©rez'

3. En el pair programming desde a direcci√≥n nos ped√≠an que agruparamos los datos en base a la columna de "categor√≠a", puede que en aquel momento nos dieramos cuenta que hab√≠a var√≠as categor√≠as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten√≠a unos s√≠mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s√≠mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci√≥n.

In [96]:
df_historico_copia.head(1)

,id_ticket,fecha,id_empleado,id_agente,categor√≠a,tipo,severidad,prioridad,d√≠as_resoluci√≥n,satisfacci√≥n,semestre,a√±o
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2¬∫ semestre,2016

In [48]:
df_histo_unicos = str(df_historico_copia["categor√≠a"].unique())

In [89]:
df_histo_unicos

"['Acceso&%Login' 'Sistema' 'Software' 'Hardware' 'Acceso%&Login'\n 'Acceso-&Login' 'Acceso99Login' 'Acceso/Login']"

In [44]:
import re

In [113]:
# Reemplazar los signos de d√≥lar ($) por signos de euro (‚Ç¨) en la columna "Precio"
df_historico_copia['categor√≠a'] = df_historico_copia['categor√≠a'].str.replace('[\d*,%*,&*,-]', '/')

/tmp/ipykernel_6153/3224770424.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_historico_copia['categor√≠a'] = df_historico_copia['categor√≠a'].str.replace('[\d*,%*,&*,-]', '/')

In [114]:
df_historico_copia["categor√≠a"].unique()

array(['Acceso//Login', 'Sistema', 'Software', 'Hardware', 'Acceso/Login'],
      dtype=object)

In [102]:
df_historico_copia["categor√≠a"].value_counts()

Sistema          38961
Acceso//Login    20506
Software         19543
Hardware          9717
Acceso/Login      8659
Name: categor√≠a, dtype: int64

In [59]:
# qu√© necesitamos?
# eliminar s√≠mbolos raros &, %, - y reemplazarlos por /
# quiz√° crear un patr√≥n de regex???

def eliminar_simbolos (categoria):
    categoria = str(categoria).split("Login")
    patron = '[.*]'
    categoria_limpia = categoria.replace(patron, '/')
    return categoria_limpia

4. Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

5. Guardad el dataframe en un csv que usaremos m√°s adelante

In [ ]:
df.to_csv('ruta/nombrearchivo.ext')