## PAIR PROGRAMMING - PANDAS 2

En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.

Al final de la explicación encontrareís una serie de ficheros con distintos formatos.

Los objetivos de este pair programming:

1.Id cargando todos los ficheros en vuestro jupyter.

NOTA En la apertura del archivo de quejas.csv puede que os salga un error como este:

Esto es debido a que habrá que indicar el encoding y el separador de este fichero. En concreto el encoding es de tipo "ISO-8859-1". El separador os lo dejamos a vosotras para que investigueis un poquito.

- Utlizando el dataset de quejas.csv y usando el loc, quedaros solo con aquellos datos que correspondan a tipo "Sugerencia" (para solucionar este ejercicio tendréis que poner en práctica métodos aprendidos en la lección de ayer). En este caso querremos todas las columnas. Almacenad los resultados en nuevo dataframe que se llame df_sugerencias.
- Utlizando el dataset de quejas.csv y usando el loc,quedaros solo con aquellos datos que correspondan con canal de entrada "Presencial" y y que sean de tipo "Queja" (para solucionar este ejercicio tendréis que poner en práctica métodos aprendidos en la lección de ayer). En este caso solo querremos las columnas de "fecha_entrada" y "fecha_contestacion". Almacenad los resultados en nuevo dataframe que se llame df_queja_presencial.

In [21]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/COPIA EJERCICIOS/MODULO 2- SPRINT 1/pair-programming/promo-d-da-modulo2-sprint1-lorena-ana/PANDAS'

In [3]:
#abrimos csv

df_csv = pd.read_csv("datos/quejas.csv", encoding ='ISO-8859-1', sep=';')

In [4]:
df_csv.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

- Utlizando el dataset de quejas.csv y usando el loc, quedaros solo con aquellos datos que correspondan a tipo "Sugerencia" (para solucionar este ejercicio tendréis que poner en práctica métodos aprendidos en la lección de ayer). En este caso querremos todas las columnas. Almacenad los resultados en nuevo dataframe que se llame df_sugerencias.

In [5]:
#usando loc
df_sugerencias = df_csv.loc[df_csv.tipo == "Sugerencia",:]

In [7]:
df_sugerencias.head(2)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

Utlizando el dataset de quejas.csv y usando el loc,quedaros solo con aquellos datos que correspondan con canal de entrada "Presencial" y y que sean de tipo "Queja" (para solucionar este ejercicio tendréis que poner en práctica métodos aprendidos en la lección de ayer). En este caso solo querremos las columnas de "fecha_entrada" y "fecha_contestacion". Almacenad los resultados en nuevo dataframe que se llame df_queja_presencial.

In [8]:
df_queja_presencial = df_csv.loc[(df_csv.tipo == "Queja") & (df_csv.canal_entrada == "PRESENCIAL"), ["fecha_entrada", "fecha_contestacion"]]
df_queja_presencial.head(2)

           fecha_entrada   fecha_contestacion
45   2022-01-31 00:00:00                  NaN
197  2022-02-17 00:00:00  2022-02-23 00:00:00

2. Usando el método read_clipboard, cread un dataframe nuevo que nos ayude a contestar las siguientes preguntas:
   - Usando el iloc, ¿Cuál es la temperatura mínima de Febrero? ¿Y la máxima?
   - Usando el loc, ¿Cuántas horas de sol hay en Julio? ¿Y en Diciembre?
   - Usando el iloc, ¿Cuál fue la húmedad del mes de Septiembre? ¿Y la precipitación?
   - Estos datos corresponden a los años 1991-2021. Cread una nueva columna cuyo valor sea "1991-2021".

In [22]:
#para que funcione el código con archivos de tipo clipboard es necesario trabajar desde otro entorno
#¿cómo generar clipboard? copiamos tabla en una hoja excel y luego simplemente con el doc abierto, en Visual aplicamos el código de abajo
df_clipboard = pd.read_clipboard(sep='\t')
df_clipboard.head(10)

,Enero,Febrero,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
Temperatura máx. (°C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
Precipitación (mm),41,34,40,47,39,16,6,8,22,61,55,46
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%
Días lluviosos (días),5,4,4,6,5,3,1,2,3,5,5,5
Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7

 - Usando el iloc, ¿Cuál es la temperatura mínima de Febrero? ¿Y la máxima?

In [4]:
df_clipboard.iloc[1,1]

'6.4 '

In [16]:
#La máxima:
df_clipboard.iloc[2,1]

'11.4 '

Usando el loc, ¿Cuántas horas de sol hay en Julio? ¿Y en Diciembre?

In [25]:
df_clipboard.columns #para conocer el nombre de las columnas del DF

Index(['Enero ', 'Febrero ', 'Marzo ', 'Abril ', 'Mayo ', 'Junio ', '​​Julio ',
       'Agosto ', 'Septiembre ', 'Octubre ', 'Noviembre ', 'Diciembre'],
      dtype='object')

In [27]:
df_clipboard.index.values #para conocer el nombre de las filas del DF

array(['Temperatura media (°C) ', 'Temperatura min. (°C) ',
       'Temperatura máx. (°C) ', 'Precipitación (mm) ', 'Humedad(%) ',
       'Días lluviosos (días) ', 'Horas de sol (horas) '], dtype=object)

In [29]:
#julio
df_clipboard.loc['Horas de sol (horas) ', '​​Julio ']

'13.1 '

In [30]:
#diciembre
df_clipboard.loc['Horas de sol (horas) ','Diciembre']

'5.7'

In [31]:
df_clipboard.loc['Humedad(%) ', '​​Julio ']

'28% '

- Usando el iloc, ¿Cuál fue la húmedad del mes de Septiembre? ¿Y la precipitación?

In [23]:
#Humedad de septiembre
df_clipboard.iloc[4,8]

'41% '

In [24]:
#Precipitación de septiembre
df_clipboard.iloc[3,8]

'22 '

- Estos datos corresponden a los años 1991-2021. Cread una nueva columna cuyo valor sea "1991-2021".

In [32]:
#para crear nueva columna, método assign/metodo César

df_clipboard["Décadas"] = "1991-2021"

In [33]:
df_clipboard.head(2)

,Enero,Febrero,Marzo,Abril,Mayo,Junio,​​Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,Décadas
Temperatura media (°C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5,1991-2021
Temperatura min. (°C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8,1991-2021

In [34]:
import os

In [35]:
os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/COPIA EJERCICIOS/MODULO 2- SPRINT 1/pair-programming/promo-d-da-modulo2-sprint1-lorena-ana/PANDAS'

3. Por último, guardad el dataframe generado en el ejercicio 2 en formato csv y xlsx.

In [36]:
df_clipboard.to_csv("datos/pair_programming_pandas2.csv")
df_clipboard.to_excel("datos/pair_programming_pandas2.xlsx")