# PAIR PROGRAMMING PANDAS 5 
### MERGE, CONCAT, JOIN

In [1]:
import pandas as pd

El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.
- Empleados.csv
- Agentes.csv
- Puestos.csv

In [2]:

df_empleados = pd.read_csv('datos/Empleados.csv')
df_agentes = pd.read_csv('datos/Agentes.csv')
df_puestos = pd.read_excel('datos/Puestos.xlsx')

Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

In [3]:
df_2016 = pd.read_excel('datos/2016_pandasIII.xlsx')

In [4]:
df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [5]:
df_2016["año"] = 2016
df_2016.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016

1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [6]:

df_2017 = pd.read_excel('datos/2017.xlsx')

df_2018 = pd.read_excel('datos/2018.xlsx')

df_2019 = pd.read_excel('datos/2019.xlsx')

df_2020 = pd.read_excel('datos/2020.xlsx')

In [7]:
df_2017["año"] = 2017
df_2018["año"] = 2018
df_2019["año"] = 2019
df_2020["año"] = 2020

In [16]:
# df_2016["semestre"] = pd.Series(["primer trimestre", "segundo trimestre"]) 
# PARA SOLUCIONAR EL ERROR DE Length of values does not match length of index utilizamos el código pd.Series
# conseguimos crear la columna pero ahora no tiene sentido, pues no encaja por fechas

# df_2017["semestre"] = ["1er trimestre", "2º trimestre"]
# df_2018["semestre"] = ["1er trimestre", "2º trimestre"]
# df_2019["semestre"] = ["1er trimestre", "2º trimestre"]
# df_2020["semestre"] = ["1er trimestre", "2º trimestre"]

# df_2017a = df_2017.assign(semestre = ["primer trimestre", "segundo trimestre"]) #no funciona

In [9]:
df_2017.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,año
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5,2017
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,2017

2. Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.

In [11]:
# Pasamos a minúsculas los titulos de las columnas

df_2017a = df_2017.rename(columns = {col:col.lower() for col in df_2017.columns})
df_2018a = df_2018.rename(columns = {col:col.lower() for col in df_2018.columns})
df_2019a = df_2019.rename(columns = {col:col.lower() for col in df_2019.columns})
df_2020a = df_2020.rename(columns = {col:col.lower() for col in df_2020.columns})

In [12]:
# Elimanos los espacios entre los nombres de las columnas y lo reemplazamos por un guion bajo


df_2017b = df_2017a.rename(columns = {col:col.replace(' ', '_') for col in df_2017a.columns})
df_2018b = df_2018a.rename(columns = {col:col.replace(' ', '_') for col in df_2018a.columns})
df_2019b = df_2019a.rename(columns = {col:col.replace(' ', '_') for col in df_2019a.columns})
df_2020b = df_2020a.rename(columns = {col:col.replace(' ', '_') for col in df_2020a.columns})

In [14]:
df_2017b.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5,2017
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,2017

In [15]:
df_2018b.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5,2018
1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2018

In [16]:
df_2019b.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5,2019
1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5,2019

In [17]:
df_2020b.head(2)

,id_ticket,fecha,tipo,categoría,id_empleado,id_agente,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5,2020
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5,2020

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [12]:
#Observamos que los diferentes archivos tienen el mismo número de columnas y que estas coinciden
#Previamente se habían homogeneizado poniendo las columnas en minúscula y añadiendo un guion bajo en lugar de los espacios
#que tenían aquellas columnas de nombre compuesto, ya que hemos utilizado el csv 2016.Pandas III, 
#facilitado para poder realizar la actividad (el nuestro no estaba terminado)

In [18]:
print(df_2016.columns)
print('..............')

print(df_2017b.columns)
print('..............')

print(df_2018b.columns)
print('..............')

print(df_2019b.columns)
print('..............')

print(df_2020b.columns)
print('..............')

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')
..............
Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')
..............
Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')
..............
Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')
..............
Index(['id_ticket', 'fecha', 'tipo', 'categoría', 'id_empleado', 'id_agente',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')
..............

In [30]:
#Concatenamos los diferentes dataframes en uno solo porque los nombres de la columnas coinciden y porque queremos 
#añadir filas (correspondientes a cada uno de los años y archivos fusionados)

df_archivo_concat_años = pd.concat([df_2016, df_2017b, df_2018b, df_2019b,df_2020b], axis = 0)

In [31]:
df_archivo_concat_años.sample(10)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
6531,KDLEER-4543672010,2019-07-26,1191.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0,2019
15316,SHRESR-5443480464,2019-01-15,616.0,4.0,Sistema,Problema,1 - Menor,3 - Alta,1.0,4.0,2019
21148,TWLTNR-5143583523,2019-04-28,1722.0,25.0,Acceso99Login,Solicitud,2 - Normal,1 - Baja,1.0,5.0,2019
411,GDLTER-8642410302,2016-02-10,420.0,23.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,6.0,1.0,2016
13640,SHRENR-0043448335,2018-12-14,1863.0,13.0,Acceso-&Login,Problema,3 - Mayor,3 - Alta,0.0,4.0,2018
7049,KDLTER-5743702085,2019-08-25,428.0,10.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,7.0,4.0,2019
20101,SHLTNT-9044074441,2020-08-31,1784.0,14.0,Acceso/Login,Solicitud,2 - Normal,3 - Alta,0.0,4.0,2020
23396,TDLESR-1544026747,2020-07-14,1884.0,7.0,Sistema,Problema,2 - Normal,0 - Sin Asignar,5.0,4.0,2020
3655,GHLTSR-4743575537,2019-04-20,1733.0,45.0,Sistema,Solicitud,2 - Normal,3 - Alta,7.0,5.0,2019
9263,KDLESR-8243904002,2020-03-14,920.0,40.0,Sistema,Problema,2 - Normal,0 - Sin Asignar,2.0,3.0,2020

4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [25]:
df_empleados.head(2)

  Turno  ID Empleado Apellido   Nombre ID Puesto                         Email
0     A            6    VILLA    JESUS  50-32200     jesus.villa@tractchun.com
1   NaN           10   MENDEZ  RICARDO  15-24100  ricardo.mendez@tractchun.com

In [26]:
df_puestos.head(2)

  ID Puesto                   Puesto Departamento Tipo Puesto
0  10-23200  Ingeniero de Materiales   MATERIALES   Operativo
1  10-24111   Operador de Producción   MATERIALES   Operativo

In [29]:
#debemos unir a través de ID Puesto, pues es común para ambos dataframes

df_mergeado = df_empleados.merge(df_puestos, how = "outer", on = "ID Puesto")
df_mergeado.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,B,2.0,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,NaN,24.0,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,NaN,98.0,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

6. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming

In [33]:
df_archivo_concat_años.to_csv('datos/conjunto_años.csv')

In [34]:
df_mergeado.to_csv('datos/empleados_puestos.csv')

 NOTA Al final de este pair programing deberéis tener tres ficheros:
 - El fichero de la unión de todos los conjuntos de datos de los distintos años
 - El fichero con la unión de los datos de puestos y empleados.
 - El fichero de los agentes.