## PAIR PROGRAMMING - PANDAS 3

In [2]:
import pandas as pd

import os

os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/COPIA EJERCICIOS/MODULO 2- SPRINT 1/pair-programming/promo-d-da-modulo2-sprint1-lorena-ana/PANDAS'


Tareas a realizar en este pair programming


- La exploración de datos es una parte crítica del proceso de análisis de datos. 
    Para los analistas de datos, hacer una exploración de datos con Pandas es importante por varias razones:

- Comprender los datos: antes de comenzar a analizar datos, es importante comprender los datos con los que se está trabajando.

- Identificar problemas de calidad de datos: los datos pueden contener errores, valores faltantes o datos duplicados. Al utilizar Pandas, como analistas de datos podemos identificar rápidamente estos problemas y determinar la mejor manera de abordarlos antes de comenzar a analizar los datos.

- Identificar patrones y tendencias: al explorar los datos con Pandas, los analistas de datos podemos identificar patrones y tendencias en los datos que pueden ayudar a generar ideas y obtener información valiosa.


En resumen, hacer una exploración de datos con Pandas es esencial para cualquier analista de datos, ya que puede ayudar a comprender los datos, identificar problemas de calidad de datos, identificar patrones y tendencias y visualizar los datos para una mejor comprensión y presentación de los resultados del análisis. En los próximos pair programmings vamos a empezar a explorar los datos para identificar posibles problemas en los datos, comprender los datos y familiarizanos con ellos.


1. Cargar todos los datasets que os hemos compartido en este pair programming

In [5]:

df_csv1 = pd.read_csv('datos/Agentes.csv')
df_csv2 =  pd.read_csv('datos/Empleados.csv')
df_xlsx = pd.read_excel('datos/2016.xlsx')

2. Haced una exploración básica cada uno de los DataFrames, esta exploración debe incluir:

¿Cuántas filas y columnas tiene el DataFrame?

In [6]:
df_csv1.shape

(50, 4)

In [7]:
df_csv2.shape

(2000, 6)

In [8]:
df_xlsx.shape

(13051, 12)


Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [11]:

df_csv1.head(5)

df_csv2.head(5)

df_xlsx.head(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [12]:
df_csv1.tail(5)

df_csv2.tail(5)

df_xlsx.tail(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0


Mostrad 2 filas al azar del DataFrame.

In [13]:

df_csv1.sample(2)

df_csv2.sample(2)

df_xlsx.sample(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
12267,TMLENR-9042587186,2016-08-05,1258.0,21.0,Acceso&%Login,Problema,2 - Normal,2 - Media,0.0,5.0,www.tractchun.es,1.0
8796,SHLEST-3242532925,2016-06-11,442.0,49.0,Sistema,Problema,2 - Normal,3 - Alta,2.0,5.0,www.tractchun.es,1.0


¿Cuál es el nombre de las columnas del DataFrame?

In [14]:
#Con columns sacamos todas las columnas

df_csv1.columns

df_csv2.columns

df_xlsx.columns

Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')


¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.

In [15]:
#Con describe sacamos todos los principales estadísticos de los valores numéricos

df_csv1.describe()

df_csv2.describe()

df_xlsx.describe()

        ID Empleado     ID Agente  Días Resolución  Satisfacción  Índice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0

In [16]:
#Para poder sacar los datos de los valores categóricos, hemos de incluir include = "object"

df_csv1.describe(include = 'object')

df_csv2.describe(include = 'object')

df_xlsx.describe(include = 'object')

,ID Ticket,Categoría,Tipo,Severidad,Prioridad,Web
count,13050,13038,13050,13025,13025,13024
unique,13050,4,2,5,4,1
top,GDDENR-5042564453,Sistema,Solicitud,2 - Normal,3 - Alta,www.tractchun.es
freq,1,5247,9756,11771,4828,13024


¿Cuál es el porcentaje de valores nulos en cada columna?

In [17]:
df_csv1.shape

(50, 4)

In [18]:

df_csv1.isnull().sum() * df_csv1.shape / 100

df_csv2.isnull().sum() * df_csv2.shape / 100

df_xlsx.isnull().sum() * df_xlsx.shape / 100 #buscar la fórmula y copiarla

ValueError: operands could not be broadcast together with shapes (4,) (2,)

In [19]:
df_csv1.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

¿Cuántos valores únicos tenemos para cada una de las columnas?

In [23]:
df_csv1.columns

Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')

In [25]:
len(df_csv1["ID Agente"].unique())

50

In [30]:
#Observamos que en cada columna hay 50 valores únicos. Hemos creado este pequeño programa para obtener dicha información:

lista_conteo_unicos_csv1 = []
for columna in df_csv1.columns:
    conteo = len(df_csv1[columna].unique())
    lista_conteo_unicos_csv1.append(conteo)
lista_conteo_unicos_csv1

[50, 50, 50, 50]

In [9]:
#Forma compleja con un dictionary comprehension

columnas_csv1 = df_csv1.columns

conteo_unique_csv1 = {col: len(df_csv1[col].unique()) for col in columnas_csv1}

print(conteo_unique_csv1)

{'ID Agente': 50, 'Nombre': 50, 'email': 50, 'Fecha de Nacimiento': 50}

In [34]:
lista_conteo_unicos_csv2 = []
for columna in df_csv2.columns:
    conteo = len(df_csv2[columna].unique())
    lista_conteo_unicos_csv2.append(conteo)
lista_conteo_unicos_csv2

[5, 2000, 376, 565, 75, 2000]

In [31]:
columnas_csv2 = df_csv2.columns

conteo_unique_csv2 = {col: len(df_csv2[col].unique()) for col in columnas_csv2}

print(conteo_unique_csv2)

{'Turno': 5, 'ID Empleado': 2000, 'Apellido': 376, 'Nombre': 565, 'ID Puesto': 75, 'Email': 2000}

In [35]:
lista_conteo_unicos_excel = []
for columna in df_xlsx.columns:
    conteo = len(df_xlsx[columna].unique())
    lista_conteo_unicos_excel.append(conteo)
lista_conteo_unicos_excel

[13051, 367, 2000, 51, 5, 3, 6, 5, 22, 6, 2, 2]

In [ ]:
columnas_xlsx = df_xlsx.columns

conteo_unique_xlsx = {col: df_xlsx[col].value_counts() for col in columnas_xlsx}

print(conteo_unique_xlsx)

De aquellas columnas que tengan menos de 6 elementos únicos mostrad cada uno de sus valores únicos.

In [37]:
df_csv1.columns

Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')

In [49]:
for col in df_csv1.columns:

    if len(df_csv1[col].unique()) > 6: 
        
        print("No hay ninguna columna que tenga menos de 6 valores únicos")
        break
  
    elif len(df_csv1[col].unique()) < 6:
               
        print("La columna", col, "tiene menos de 6 valores únicos")
        print(f"Estos son los valores únicos de la columna {col} {df_csv2[col].unique()}")
        # print(df[col].unique())

No hay ninguna columna que tenga menos de 6 valores únicos

In [50]:
for col in df_csv2.columns:

    if len(df_csv2[col].unique()) > 6: 
        
        print("No hay ninguna columna que tenga menos de 6 valores únicos")
        break
  
    elif len(df_csv2[col].unique()) < 6:
               
        print("La columna", col, "tiene menos de 6 valores únicos")
        print(f"Estos son los valores únicos de la columna {col} {df_csv2[col].unique()}")

La columna Turno tiene menos de 6 valores únicos
Estos son los valores únicos de la columna Turno ['A' nan 'B' 'C' 'D']
No hay ninguna columna que tenga menos de 6 valores únicos

In [52]:
lista_conteo_unicos_excel = []
for columna in df_xlsx.columns:
    conteo = len(df_xlsx[columna].unique())
    lista_conteo_unicos_excel.append(conteo)
lista_conteo_unicos_excel

[13051, 367, 2000, 51, 5, 3, 6, 5, 22, 6, 2, 2]

In [60]:
for col in df_xlsx.columns:
  
    if len(df_xlsx[col].unique()) < 6:

        print("......")       
        print("La columna", col, "tiene menos de 6 valores únicos")
        print(f"Estos son los valores únicos de la columna {col} {df_xlsx[col].unique()}")
        print("......")

    elif len(df_xlsx[col].unique()) > 6: 
        print("Esta columna", col, "no tiene menos de 6 valores únicos")
        continue

Esta columna ID Ticket no tiene menos de 6 valores únicos
Esta columna Fecha no tiene menos de 6 valores únicos
Esta columna ID Empleado no tiene menos de 6 valores únicos
Esta columna ID Agente no tiene menos de 6 valores únicos
......
La columna Categoría tiene menos de 6 valores únicos
Estos son los valores únicos de la columna Categoría ['Acceso&%Login' 'Sistema' 'Software' 'Hardware' nan]
......
......
La columna Tipo tiene menos de 6 valores únicos
Estos son los valores únicos de la columna Tipo ['Problema' 'Solicitud' nan]
......
......
La columna Prioridad tiene menos de 6 valores únicos
Estos son los valores únicos de la columna Prioridad ['0 - Sin Asignar' nan '3 - Alta' '2 - Media' '1 - Baja']
......
Esta columna Días Resolución no tiene menos de 6 valores únicos
......
La columna Web tiene menos de 6 valores únicos
Estos son los valores únicos de la columna Web ['www.tractchun.es' nan]
......
......
La columna Índice  tiene menos de 6 valores únicos
Estos son los valores únicos de la columna Índice  [ 1. nan]
......

📌 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena práctica sería crearnos una función que apliquemos a cada conjunto de datos. Nuestra función recibirá un parámetro, que será el dataframe entero

:

📌 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el código, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. ¿Hay datos raros en nuestros conjuntos de datos? ¿Tenemos nulos?, etc.

In [64]:
for col in df_xlsx.columns: #a repetir con cada uno de los DF
  
    print(f"Esta columna {col} tiene  {df_xlsx[col].isnull().sum()} nulos") # preguntar

Esta columna ID Ticket tiene  1 nulos
Esta columna Fecha tiene  26 nulos
Esta columna ID Empleado tiene  2 nulos
Esta columna ID Agente tiene  1 nulos
Esta columna Categoría tiene  13 nulos
Esta columna Tipo tiene  1 nulos
Esta columna Severidad tiene  26 nulos
Esta columna Prioridad tiene  26 nulos
Esta columna Días Resolución tiene  2 nulos
Esta columna Satisfacción tiene  14 nulos
Esta columna Web tiene  27 nulos
Esta columna Índice  tiene  13 nulos

3. Modificaciones básicas de los conjuntos de datos:

Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

In [67]:
#para poner en minúsculas los títulos de las columnas:

df_csv1 = df_csv1.rename(columns = {col:col.lower() for col in df_csv1.columns})
df_csv1 = df_csv1.rename(columns = {col:col.lower() for col in df_csv1.columns})
df_csv1 = df_csv1.rename(columns = {col:col.lower() for col in df_csv1.columns})

SyntaxError: invalid syntax (2327284107.py, line 1)

In [ ]:
#para reemplazar " ", por _:

df_2017b = df_2017a.rename(columns = {col:col.replace(' ', '_') for col in df_2017a.columns})

Para las columnas de web e índice en el archovo de 2016.xlsx ya hemos visto que tiene un único valor único, lo cual no tiene mucho sentido ya que no nos aporta información útil. En este ejercicios tendréis que eliminar dichas columnas del dataframe.

In [68]:
df_xlsx.columns

Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')

In [76]:
df_xlsx.drop(['Web'], axis = 1, inplace = True)

In [78]:
df_xlsx.drop(['Índice '], axis = 1, inplace = True)

In [79]:
# Observamos que la eliminación de ambas columnas "web" e "indice" se ha realizado satisfactoriamente
df_xlsx.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0

Establece la columna id_ticket de la tabla de 2016.xlsx como índice del DataFrame.

In [80]:
df_xlsx.set_index(['ID Ticket'],inplace = True)

In [81]:
df_xlsx.head(2)

,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
ID Ticket,,,,,,,,,
GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0

4. Guarda los csv's sobre los que hayáis hecho cambios para usarlos en próximos pairs .

: