# PAIR PROGRAMMING
## EJERCICIO 4. PANDAS IV

In [5]:
import pandas as pd
import os

1. Cargad el csv que guardasteis ayer.

In [6]:
os.getcwd()

'/Users/peris/Desktop/adalab/repo/promo-d-da-modulo2-sprint1-lorena-ana/PANDAS'

In [7]:
#abris el excel:
df_excel = pd.read_excel('datos/2016_pandasIII.xlsx')

In [8]:
df_excel.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [9]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        13050 non-null  object
 1   fecha            13025 non-null  datetime64[ns]
 2   id_empleado      13049 non-null  float64
 3   id_agente        13050 non-null  float64
 4   categor칤a        13038 non-null  object
 5   tipo             13050 non-null  object
 6   severidad        13025 non-null  object
 7   prioridad        13025 non-null  object
 8   d칤as_resoluci칩n  13049 non-null  float64
 9   satisfacci칩n     13037 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 1019.7+ KB

In [10]:
shape_original = df_excel.shape

In [11]:
df_excel.columns

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categor칤a', 'tipo',
       'severidad', 'prioridad', 'd칤as_resoluci칩n', 'satisfacci칩n'],
      dtype='object')



Antes de seguir con las preguntas, para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame, esto lo haremos sobre el archivo de 2016.xlsx. Para ello vamos a utilizar el m칠todo .dropna() de Pandas. Tendr칠is que ejecutar la siguiente l칤nea de c칩digo para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

df.dropna(inplace = True)

In [12]:
#eliminamos los nulos con el comando dropna()
df_excel.dropna(inplace = True)

In [13]:
df_excel.shape

(12939, 10)

쮺u치ntas filas se han eliminado con esta l칤nea de c칩digo?

In [14]:
#Anteriormente en shape_original ten칤amos 13051 filas. 
#Observamos que tras eliminar los nulos hay 12939 filas.

In [15]:
df_excel.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

2. 쮺u치l es el n칰mero de incidencias que se han dado de tipo "Sistema", lo encontrar칠is en la columna de categor칤a?

In [16]:
df_excel.categor칤a.unique()

array(['Acceso&%Login', 'Sistema', 'Software', 'Hardware'], dtype=object)

In [17]:
#lo almacenamos en esta variable para tener un df solo conteniendo los datos de sistema, 
#igualamos categoria y sistema para filtrar por las incidencias tipo sistema

df_sistema = df_excel[df_excel["categor칤a"] == "Sistema"]

In [18]:
#para obtener el n칰mero de incidencias de tipo "Sistema", realizamos el m칠todo len de nuestro dataframe
len(df_sistema)

5211

3. 쯏 para la categor칤as de "Hardware" y "Software"? Cread un dataframe nuevo con los resultados de este filtrado de datos. 游늷 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el m칠todo isin(). Hacedlo con ambas herramientas.

In [19]:
df_hardsoft = df_excel[(df_excel["categor칤a"] == "Hardware") | (df_excel["categor칤a"] == "Software")]

In [20]:
df_hardsoft.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
5,GDLEER-0142608095,2016-08-26,59.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,1.0
6,GDLEER-0242564650,2016-07-13,1175.0,36.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,1.0
7,GDLEER-0542574815,2016-07-23,561.0,18.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0
8,GDLEER-0842457219,2016-03-28,71.0,12.0,Software,Problema,2 - Normal,0 - Sin Asignar,8.0,5.0

In [21]:
valores = ["Hardware", "Software"]
df2_hardsoft = df_excel[df_excel["categor칤a"].isin(valores)]

In [22]:
df2_hardsoft.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
5,GDLEER-0142608095,2016-08-26,59.0,20.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,1.0
6,GDLEER-0242564650,2016-07-13,1175.0,36.0,Software,Problema,2 - Normal,0 - Sin Asignar,2.0,1.0
7,GDLEER-0542574815,2016-07-23,561.0,18.0,Software,Problema,2 - Normal,0 - Sin Asignar,5.0,5.0
8,GDLEER-0842457219,2016-03-28,71.0,12.0,Software,Problema,2 - Normal,0 - Sin Asignar,8.0,5.0

3.1 De los datos filtrados en el punto 3. 쮺u치ntas de ellas son de tipo "Solicitud" y cu치ntas de tipo "Problema"?

3.2 쮺u치ntas solicitudes tienen una satisfacci칩n de m치s de 3?

3.3 쯏 cu치ntas tienen una satisfacci칩n mayor o igual que 4 y han tardado menos de 3 d칤as de resoluci칩n?

In [23]:
df_solicitud = df2_hardsoft[df2_hardsoft["tipo"] == "Solicitud"]
df_problema = df2_hardsoft[df2_hardsoft["tipo"] == "Problema"]

In [24]:
df_solicitud.head(2)
len(df_solicitud)
#Observamos que el n칰mero de solicitudes coincide con df_tipo(total). Por ello, asumimos que "Solicitud" es un valor general y "Problema" es una especificaci칩n dentro de la solicitud.

2876

In [25]:

#observamos que aqu칤 hay 970 solicitudes subcatalogadas como problema

df_problema.head(2)
len(df_problema)

970

3.2 쮺u치ntas solicitudes tienen una satisfacci칩n de m치s de 3?

In [26]:
conteo_satisfaccion = len(df_solicitud['satisfacci칩n'] > 3)

In [27]:

#tenemos 2876 solicitudes valoradas con una satisfacci칩n de m치s de 3
conteo_satisfaccion

2876

3.3 쯏 cu치ntas tienen una satisfacci칩n mayor o igual que 4 y han tardado menos de 3 d칤as de resoluci칩n?

In [28]:

conteo_satisfaccion2 = len(df_solicitud[(df_solicitud['satisfacci칩n'] >= 4) & (df_solicitud['d칤as_resoluci칩n'] < 3)])

In [29]:
conteo_satisfaccion2

285

4. Ahora nuestro jefe quiere saber que cantidad de tickets ha habido en la segunda quincena de Enero. Cread un DataFrame nuevo con los tickets correspondientes a la segunda quincena de Enero.
   
   4.1 쮿a habido algun ticket en esta quincena que corresponda a la categor칤a de Solicitud?

   4.2 Revisando los datos, nuestro jefe se ha dado cuenta que hay muchos tickets no tienen ninguna prioridad asignada. Esto no deber칤a seguir repiti칠ndose ya que cada ticket debe tener una prioridad para saber que urgencia debemos darle a cada ticket. Usando el str.contains extraed los tickets que no tengan una prioridad asignada o que tengan una prioridad baja.

In [30]:
df_excel.head()
#filtrar por fecha, del 15.01 en adelante

df_quincena2 = df_excel[df_excel["fecha"] > "2016-01-15"]

In [31]:


# Filtramos las filas con fechas entre '2016-01-15' y '2016-01-31' 
filtro = (df_excel['fecha'] >= '2016-01-15') & (df_excel['fecha'] <= '2016-01-31')
df_filtrado = df_excel[filtro]
df_filtrado

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
12,GDLEER-2142385152,2016-01-16,1825.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,5.0
65,GDLEET-8142386963,2016-01-17,376.0,39.0,Software,Problema,2 - Normal,0 - Sin Asignar,1.0,5.0
68,GDLEET-8942397489,2016-01-28,488.0,14.0,Hardware,Problema,2 - Normal,0 - Sin Asignar,9.0,5.0
70,GDLEET-9342397848,2016-01-28,104.0,48.0,Software,Problema,2 - Normal,0 - Sin Asignar,3.0,5.0
74,GDLENR-1042392759,2016-01-23,1755.0,17.0,Acceso&%Login,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
12939,TWLTSR-2742396392,2016-01-27,1669.0,43.0,Sistema,Solicitud,2 - Normal,1 - Baja,7.0,4.0
12945,TWLTSR-3142384531,2016-01-15,613.0,35.0,Sistema,Solicitud,2 - Normal,1 - Baja,13.0,4.0
12956,TWLTSR-4042399767,2016-01-30,576.0,7.0,Sistema,Solicitud,2 - Normal,1 - Baja,7.0,5.0
12965,TWLTSR-4742394425,2016-01-25,232.0,14.0,Sistema,Solicitud,2 - Normal,1 - Baja,16.0,5.0
12988,TWLTSR-7042395921,2016-01-26,1452.0,29.0,Sistema,Solicitud,2 - Normal,1 - Baja,10.0,4.0

In [32]:

#hemos visto que hay 594 tickets bas치ndonos en los id ticket en la segunda quincena de enero de 2016
df_filtrado['id_ticket'].value_counts

<bound method IndexOpsMixin.value_counts of 12       GDLEER-2142385152
65       GDLEET-8142386963
68       GDLEET-8942397489
70       GDLEET-9342397848
74       GDLENR-1042392759
               ...
12939    TWLTSR-2742396392
12945    TWLTSR-3142384531
12956    TWLTSR-4042399767
12965    TWLTSR-4742394425
12988    TWLTSR-7042395921
Name: id_ticket, Length: 594, dtype: object>

   4.1 쮿a habido algun ticket en esta quincena que corresponda a la categor칤a de Solicitud?

In [33]:
solicitud_2a_quincena = df_filtrado['categor칤a'] == 'Solicitud'

In [34]:
df_solicitud_2a_quincena = pd.DataFrame(solicitud_2a_quincena)

In [35]:
df_solicitud_2a_quincena.reset_index()

     index  categor칤a
0       12      False
1       65      False
2       68      False
3       70      False
4       74      False
..     ...        ...
589  12939      False
590  12945      False
591  12956      False
592  12965      False
593  12988      False

[594 rows x 2 columns]

In [36]:
pip install matplotlib == 3.4.3

zsh:1: = not found
Note: you may need to restart the kernel to use updated packages.

In [37]:
import matplotlib as plt

In [38]:
plt.figure()

plt.bar(df_solicitud_2a_quincena ['index'], df_solicitud_2a_quincena ['categor칤a'])

plt.show()

AttributeError: module 'matplotlib' has no attribute 'figure'

5. Nuestro jefe quiere seguir buscando patrones y quiere saber si existe una relaci칩n entre el n칰mero de d칤as que tarde en cerrarse un ticket y la satisfacci칩n de los clientes. Para eso nos pide que:

    5.1 Extraigamos los tickets en lo que pasaron 5 o m치s d칤as en ser solucionados.

    5.2 Extraigamos los tickets en los que pasaron menos de 5 d칤as en ser solucionados.

    5.3 Usando como referencia los dos conjuntos de datos creados en los dos pasos anteriores:
    
  - Qu칠 valores tenemos de satisfacci칩n en cada uno de ellos?
  - 쮼n cu치l de ellos hay m치s puntuaciones de 5 en relaci칩n a la satisfacci칩n?

In [39]:
df_excel.head(2)

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0

In [59]:

#sintaxis en pandas1 dataframe
df_mas_cinco = df_excel[df_excel['d칤as_resoluci칩n'] >= 5]

In [60]:
df_mas_cinco['satisfacci칩n'].unique()

array([5., 1., 4., 3., 2.])

In [57]:
df_menos_cinco = df_excel[df_excel['d칤as_resoluci칩n'] < 5]

In [58]:
df_menos_cinco['satisfacci칩n'].unique()

array([5., 1., 4., 3., 2.])

In [62]:
#sobre el filtrado df_menos_cinco aplicamos otro filtro para saber los puntuados con un 5, usamos el len para 
#obtener el conteo 

len(df_menos_cinco[df_menos_cinco['satisfacci칩n'] == 5])

3320

In [63]:
len(df_mas_cinco[df_mas_cinco['satisfacci칩n'] == 5])

2883

In [ ]:
#cuanto menor es el tiempo de espera la satisfacci칩n es m치s cercana al 5

6. Revisando los dataframes generados en el ejercicio anterior, nos hemos dado cuenta que hay una serie de empleados que tardan demasiado en resolver los problemas planteados por los clientes. Nuestro jefe quiere extraer los datos de estos empleados en concreto para saber que esta pasando. En concreto estos empleados son aquellos que tienen los siguientes id's: 1118.0, 730.0, 97.0, 1745.0. Crea un dataframe donde solo tengamos la informaci칩n de estos empleados. Usad el m칠todo isin(), para resolver este ejercicio.

In [69]:
#dataframe.isin(values)
df_empleados = df_excel[df_excel['id_empleado'].isin([1118.0, 730.0, 97.0, 1745.0])]

In [70]:
df_empleados.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
261,GDLTER-1042574687,2016-07-23,1118.0,26.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,10.0,5.0
410,GDLTER-8542577885,2016-07-26,1118.0,8.0,Hardware,Solicitud,2 - Normal,0 - Sin Asignar,15.0,5.0
718,GDLTSR-0342448482,2016-03-19,1118.0,24.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,13.0,5.0
907,GDLTSR-8042389076,2016-01-20,97.0,30.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,10.0,5.0
1792,GHLTNR-4042383675,2016-01-14,97.0,16.0,Acceso&%Login,Solicitud,2 - Normal,3 - Alta,0.0,5.0

7. Utilizando la columna de fecha cread una nueva columna llamada semestre que contenga 1er semestre o 2췈 semestre. Aquellos tickets que pertenezcan a los seis primeros meses tendran el valor de "1er trismestre" y los tickets de julio en adelante tendr치n el valor de "2췈 semestre".

In [ ]:



# Definimos las condiciones y las etiquetas
condiciones = [
    df['fecha'].dt.month == 1,
    df['fecha'].dt.month == 2,
    df['fecha'].dt.month == 3,
    df['fecha'].dt.month == 4
]
etiquetas = ['Enero', 'Febrero', 'Marzo', 'Abril']

# Aplicamos las condiciones y etiquetas utilizando numpy.select()
df['mes'] = np.select(condiciones, etiquetas)

print(df)

In [74]:
import numpy as np

In [75]:
condiciones = [df_excel['fecha'].dt.month == 6, df_excel['fecha'].dt.month == 6]

In [76]:
semestre = ['semestre1', 'semestre2']

In [77]:
df_excel['semestre'] = np.select(condiciones, semestre)

In [78]:
df_excel.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,semestre
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,semestre1
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,semestre1

8. Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de ma침ana.