# PANDAS 3 PAIR PROGRAMMING

In [3]:
import pandas as pd

import os

os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/CLASES/modulo2/pair-programming/promo-d-da-modulo2-sprint1-lorena-ana/PANDAS'


Tareas a realizar en este pair programming


- La exploraci칩n de datos es una parte cr칤tica del proceso de an치lisis de datos. 
    Para los analistas de datos, hacer una exploraci칩n de datos con Pandas es importante por varias razones:

- Comprender los datos: antes de comenzar a analizar datos, es importante comprender los datos con los que se est치 trabajando.

- Identificar problemas de calidad de datos: los datos pueden contener errores, valores faltantes o datos duplicados. Al utilizar Pandas, como analistas de datos podemos identificar r치pidamente estos problemas y determinar la mejor manera de abordarlos antes de comenzar a analizar los datos.

- Identificar patrones y tendencias: al explorar los datos con Pandas, los analistas de datos podemos identificar patrones y tendencias en los datos que pueden ayudar a generar ideas y obtener informaci칩n valiosa.


En resumen, hacer una exploraci칩n de datos con Pandas es esencial para cualquier analista de datos, ya que puede ayudar a comprender los datos, identificar problemas de calidad de datos, identificar patrones y tendencias y visualizar los datos para una mejor comprensi칩n y presentaci칩n de los resultados del an치lisis. En los pr칩ximos pair programmings vamos a empezar a explorar los datos para identificar posibles problemas en los datos, comprender los datos y familiarizanos con ellos.


1. Cargar todos los datasets que os hemos compartido en este pair programming

In [5]:

df_csv1 = pd.read_csv('datos/Agentes.csv')
df_csv =  pd.read_csv('datos/Empleados.csv')
df_xlsx = pd.read_excel('datos/2016.xlsx')

2. Haced una exploraci칩n b치sica cada uno de los DataFrames, esta exploraci칩n debe incluir:

쮺u치ntas filas y columnas tiene el DataFrame?

In [6]:
df_csv1.shape

(13051, 12)

In [ ]:
df_csv.shape

In [ ]:
df_xlsx.shape


Mostrad las primeras cinco filas y las 칰ltimas cinco filas del DataFrame.

In [7]:

df_csv1.head(5)

df_csv.head(5)

df_xlsx.head(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [8]:
df_csv1.tail(5)

df_csv.tail(5)

df_xlsx.tail(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0


Mostrad 2 filas al azar del DataFrame.

In [ ]:

df_csv1.sample(2)

df_csv.sample(2)

df_xlsx.sample(2)

:


쮺u치l es el nombre de las columnas del DataFrame?

In [ ]:

df_csv1.columns

df_csv.columns

df_xlsx.columns

:


쮺u치les son los principales est치disticos del DataFrame? Mostrad por separado las variables categ칩ricas y las variables num칠ricas.

In [ ]:

# valores num칠ricos


df_csv1.describe()

df_csv.describe()

df_xlsx.describe()

:

In [ ]:

# valores categ칩ricos
df_csv1.describe(include = 'object')

df_csv.describe(include = 'object')

df_xlsx.describe(include = 'object')

:


쮺u치l es el porcentaje de valores nulos en cada columna?

In [ ]:

df_csv1.isnull().sum() /100

df_csv.isnull().sum() /100

df_xlsx.isnull().sum() /100

:

쮺u치ntos valores 칰nicos tenemos para cada una de las columnas?

In [9]:

columnas_csv1 = df_csv1.columns


conteo_unique_csv1 = {col: len(df_csv1[col].unique()) for col in columnas_csv1}

print(conteo_unique_csv1)


#df_csv.describe(include = 'object')

#df_xlsx.describe(include = 'object')

{'ID Agente': 50, 'Nombre': 50, 'email': 50, 'Fecha de Nacimiento': 50}

In [11]:
columnas_csv = df_csv.columns


conteo_unique_csv = {col: len(df_csv[col].unique()) for col in columnas_csv}

print(conteo_unique_csv)

{'Turno': 5, 'ID Empleado': 2000, 'Apellido': 376, 'Nombre': 565, 'ID Puesto': 75, 'Email': 2000}

In [16]:
len(df_csv["ID Puesto"].unique())

75

In [ ]:

df_csv.head()

len(df_csv['Nombre'].unique())

:

In [ ]:


columnas_csv = df_csv.columns


conteo_unique_csv = {col: len(df_csv[col].unique()) for col in columnas_csv}

print(conteo_unique_csv)

:

In [ ]:

columnas_xlsx = df_xlsx.columns


conteo_unique_xlsx = {col: df_xlsx[col].value_counts() for col in columnas_xlsx}

print(conteo_unique_xlsx)

:

De aquellas columnas que tengan menos de 6 elementos 칰nicos mostrad cada uno de sus valores 칰nicos.

In [ ]:

columnas_csv = df_csv.columns

conteo_unique_csv = {col: df_csv[col].value_counts() for col in columnas_csv} 

conteo_unique_csv 

for i in conteo_unique_csv:
    print(i)

#df['columna'].unique()

#print(conteo_unique_csv)

:

游늷 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena pr치ctica ser칤a crearnos una funci칩n que apliquemos a cada conjunto de datos. Nuestra funci칩n recibir치 un par치metro, que ser치 el dataframe entero

:

游늷 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el c칩digo, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. 쮿ay datos raros en nuestros conjuntos de datos? 쯊enemos nulos?, etc.

:

3. Modificaciones b치sicas de los conjuntos de datos:

Cambiad el nombre de las columnas para que todas est칠n en min칰sculas y reemplazad los espacios por _.

:

Para las columnas de web e 칤ndice en el archovo de 2016.xlsx ya hemos visto que tiene un 칰nico valor 칰nico, lo cual no tiene mucho sentido ya que no nos aporta informaci칩n 칰til. En este ejercicios tendr칠is que eliminar dichas columnas del dataframe.

:

Establece la columna id_ticket de la tabla de 2016.xlsx como 칤ndice del DataFrame.

:

4. Guarda los csv's sobre los que hay치is hecho cambios para usarlos en pr칩ximos pairs .

: